#selector {
  font-size: 40px;
  //display: in-line;
  
}
#from {
  text-align: center;
}
#to {
  text-align: center;
}
#date {
  font-size: 30px;
  display: inline-block;
}
#from-select {
  border-radius: 25px;
    background: red;
    padding: 20px; 
    width: auto;
    height: 150px;
  font-size: 30px;
}
#to-select {
  border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: auto;
    height: 150px;
  font-size: 30px;
}